@use 'colors' as c;
@use 'mixins' as *;

header {
    background-color: c.$black;
    padding: 0.5rem 1rem;
    position: sticky;
    position: -webkit-sticky;
    top:0;
    z-index:2;


nav {
    padding: 0.5rem 0 0;
    max-height: 0;
    overflow: hidden;
    background-color: c.$black;
    position: absolute;
    left:0;
    width: 100%;
    transition: all 0.8s ease-in;  
    @include break(med){
        position: static;
        max-height: initial;
        width: auto;
    }

}
.show-nav {
    max-height: 100vh;
}

.menu-links {
    li{
        line-height: 2rem;
        margin: 0 1rem;
    }
    a{
        color:white;
        display: block;
        padding: 0.5rem;
        &:hover{
            cursor: pointer;
            color: c.$yellow;
        }
    }    
    @include break(med){
        display: flex;
    }
}

.hamburger-btn svg{
    fill: white;
    cursor: pointer;
    @include break(med){
        visibility: hidden;
        opacity: 0;
    }
}

.logo{
    width: 85px;
    height: auto;
}
.container {
    @include break(med){
        display: flex;
        justify-content: space-between;
    }
}
}