@use 'colors' as c;
@use 'mixins' as *;

.banner {
  padding: 4rem 1rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/banner-bread.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  text-align: center;

  @include break(small) {
    padding: 4rem;
    text-align: left;
  }
}

.utility-btn {
  background-color: c.$yellow;
  color: c.$black;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  margin: 2rem auto;
  display: inline-block;
}

.about-us {
  padding: 2rem 0rem;

  .btn {
    text-align: center;
  }

  .flex {
    margin: 1rem;
    align-items: center;
    flex-direction: column;
  }
  h3 {
    text-align: center;
    padding: 1rem;
  }
  p {
    text-align: center;
  }

  @include break(small) {
    .flex:first-of-type {
      flex-direction: row;
      img {
        margin-right: 1rem;
      }
    }
    .flex:nth-of-type(2) {
      flex-direction: row-reverse;
      img {
        margin-left: 1rem;
      }
    }
    img {
      width: 50%;
    }
    p {
      text-align: left;
    }
  }
}

.why-us {
  padding: 0rem 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;

  svg {
    width: 75px;
    height: 75px;
    fill: c.$yellow;
  }
  .reason {
    padding-top: 3rem;
    position: relative;
    @include break(small) {
      width: 48%;
    }
    @include break(med) {
      width: 30%;
    }
  }

  .bg-decor {
    position: absolute;
    max-width: 200px;
  }
  .bg-decor:first-of-type {
    left: -5rem;
    top: 0;
    @include break(med) {
      left: -7rem;
    }
  }
  .bg-decor:nth-of-type(2) {
    width: 150px;
    right: -3rem;
    @include break(small) {
      right: -4rem;
      top: 30%;
    }
    @include break(med) {
      top: 50%;
    }
  }
  .bg-decor:nth-of-type(3) {
    left: -5rem;
    @include break(small) {
      left: -5rem;
      top: 60%;
    }
    @include break(med) {
      top: 50%;
      left: -5.5rem;
    }
  }
  @include break(small) {
    .reasons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.delivery {
  padding: 3rem 2rem;
  position: relative;
  overflow: hidden;
  h3 {
    text-align: center;
    margin-bottom: 2rem;
  }
  .bg-decor {
    position: absolute;
    width: 200px;
    right: -5rem;
    top: 11.5rem;
    @include break(med) {
      top: 0rem;
    }
  }
  .number {
    font-family: "Amatic SC", cursive;
    font-weight: bold;
    font-size: 4rem;
  }
  p {
    margin: 0;
    z-index: 1;
  }
  .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: c.$pale-yellow;
    position: absolute;
    top: 40px;
    left: -10px;
  }
  .step {
    display: flex;
    position: relative;
  }
  .text {
    margin: 2rem 0 2rem 1rem;
    z-index: 1;
  }
  .steps {
    @include break(small) {
      margin: 0 10%;
    }
    @include break(med) {
      display: flex;
      justify-content: space-between;
      margin: 0;
    }
  }
}

.best-pastry {
  padding: 0 2rem;
  h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
  svg {
    width: 20px;
    height: 20px;
    fill: c.$black;
  }
  .item {
    margin: 0 auto 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 200px;
    @include break(small) {
      margin: 0 2%;
    }
  }

  img {
    margin: 0 auto;
  }
  p {
    margin-bottom: 0;
  }
  .price span {
    font-weight: bold;
    color: c.$yellow;
    fill: c.$yellow;
  }
  .price svg {
    fill: c.$yellow;
  }

  .items {
    @include break(small) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    @include break(med) {
      justify-content: space-evenly;
    }
  }
}
.back-decor {
  position: absolute;
  left: -10rem;
  @include break(med){
    left:0;
  }
}

.order {
  padding: 2rem 1rem;
  position: relative;

  @include break(med) {
    width: 50%;
    margin: 2rem auto;
  }

  label {
    display: block;
  }
  input {
    width: 100%;
    border-radius: 10px;
    border: 1px solid c.$offblack;
    padding: 0.5rem;
    height: 35px;
  }
  input[type="submit"] {
    border: none;
    padding: 0;
    height: 45px;
    background-color: c.$yellow;
    @include break(small) {
      display: block;
      text-align: center;
      max-width: 300px;
    }
  }
}

.contacts {
  position: relative;
  overflow: hidden;
  h3 {
    text-align: center;
    margin-bottom: 2rem;
  }
  padding: 0 1rem 3rem;
  svg {
    width: 25px;
    height: 25px;
    fill: c.$yellow;
  }
  .contact-item {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    p {
      margin: 0 1rem 0;
    }
  }
  .bg-decor {
    position: absolute;
    bottom: -0.5rem;
    right: 0;
  }
}
