h1, 
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Amatic SC', cursive;
}

a {
    text-decoration: none;
    color:inherit;
}

h2{
    font-weight: bold;
    font-size: 4rem;
    line-height: 6rem;
}
h3{
    font-size: 2rem;
    line-height: 2rem;
}
h4{
    font-size: 1.5rem;
    line-height: 3rem;
}
h5{
    font-size: 1rem;
}
p{
    margin: 1rem auto;
}