/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #202711;
}

.background {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url(../img/white-bg.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../img/white-bg.jpg);
  background-position: center center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amatic SC", cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-weight: bold;
  font-size: 4rem;
  line-height: 6rem;
}

h3 {
  font-size: 2rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 3rem;
}

h5 {
  font-size: 1rem;
}

p {
  margin: 1rem auto;
}

header {
  background-color: #040603;
  padding: 0.5rem 1rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
}

nav {
  padding: 0.5rem 0 0;
  max-height: 0;
  overflow: hidden;
  background-color: #040603;
  position: absolute;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

.show-nav {
  max-height: 100vh;
}

.menu-links li {
  line-height: 2rem;
  margin: 0 1rem;
}
.menu-links a {
  color: white;
  display: block;
  padding: 0.5rem;
}
.menu-links a:hover {
  cursor: pointer;
  color: #f0b43f;
}

.hamburger-btn svg {
  fill: white;
  cursor: pointer;
}

.logo {
  width: 85px;
  height: auto;
}

.banner {
  padding: 4rem 1rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/banner-bread.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner-bread.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  text-align: center;
}

.utility-btn {
  background-color: #f0b43f;
  color: #040603;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  margin: 2rem auto;
  display: inline-block;
}

.about-us {
  padding: 2rem 0rem;
}
.about-us .btn {
  text-align: center;
}
.about-us .flex {
  margin: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-us h3 {
  text-align: center;
  padding: 1rem;
}
.about-us p {
  text-align: center;
}

.why-us {
  padding: 0rem 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.why-us svg {
  width: 75px;
  height: 75px;
  fill: #f0b43f;
}
.why-us .reason {
  padding-top: 3rem;
  position: relative;
}
.why-us .reason .bg-decor {
  position: absolute;
  max-width: 200px;
}
.why-us .reason:first-of-type .bg-decor {
  left: -7rem;
  top: -1rem;
}
.why-us .reason:nth-of-type(3) .bg-decor {
  width: 150px;
  right: -4rem;
  top: -2rem;
}
.why-us .reason:nth-of-type(5) .bg-decor {
  left: -6rem;
  top: -1rem;
}

.delivery {
  padding: 3rem 2rem;
  position: relative;
  overflow: hidden;
}
.delivery h3 {
  text-align: center;
}
.delivery .bg-decor {
  position: absolute;
  width: 200px;
  right: -5rem;
  top: 6.5rem;
}
.delivery .number {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 4rem;
}
.delivery p {
  margin: 0;
  z-index: 1;
}
.delivery .circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ecdeba;
  position: absolute;
  top: 40px;
  left: -10px;
}
.delivery .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.delivery .text {
  margin: 2rem 0 2rem 1rem;
  z-index: 1;
}

.best-pastry {
  padding: 0 2rem;
}
.best-pastry h3 {
  text-align: center;
  margin-bottom: 1rem;
}
.best-pastry svg {
  width: 20px;
  height: 20px;
  fill: #040603;
}
.best-pastry .item {
  margin: 0 auto 3rem;
  max-width: 200px;
}
.best-pastry .item img {
  margin: 0 auto;
}
.best-pastry .item p {
  margin-bottom: 0;
}
.best-pastry .item .price span {
  font-weight: bold;
  color: #f0b43f;
  fill: #f0b43f;
}
.best-pastry .item .price svg {
  fill: #f0b43f;
}

.order {
  padding: 2rem 1rem;
}
.order label {
  display: block;
}
.order input {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #202711;
  padding: 0.5rem;
  height: 35px;
}
.order input[type=submit] {
  border: none;
  padding: 0;
  height: 45px;
}

.contacts {
  position: relative;
  overflow: hidden;
  padding: 0 1rem 3rem;
}
.contacts h3 {
  text-align: center;
  margin-bottom: 2rem;
}
.contacts svg {
  width: 25px;
  height: 25px;
  fill: #f0b43f;
}
.contacts .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}
.contacts .contact-item p {
  margin: 0 1rem 0;
}
.contacts .bg-decor {
  position: absolute;
  bottom: -0.5rem;
  right: 0;
}

footer {
  background-color: #040603;
  padding: 1rem;
}
footer p {
  color: white;
  font-size: 0.7rem;
  margin: 0;
}
footer svg {
  width: 20px;
  height: 20px;
  fill: white;
}
/*# sourceMappingURL=styles.css.map */